{% extends "admin/_base_empty.html" %}
{% block content %}
    {% from 'macros/form.html' import render_form %}
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-logo"><img src="/static/admin/images/fypress_50.png" alt="{{options.name}}"  /></div>
            <div class="panel-body">
                {{render_form(form, action_url='', btn_class="btn btn-lg btn-success btn-block")}}
            </div>
        </div>
    </div>
{% endblock %}