{% if show_breadcrumb and not is_home %}
  {% set bcitems = breadcrumb(post or page or folder) %}
  <script type='application/ld+json'>
    {
      "@context": "http://schema.org",
      "@type": "BreadcrumbList",
      "itemListElement": [
        {
          "@type": "ListItem",
          "position": 0,
          "item": {
            "@id": "{{options.url}}",
            "name": "{{options.name}}"
          }
        },
        {% set i = [] %}
        {% for item in bcitems %}
          {% if i.append('1') %}{% endif %}
          {% if post or page %}
            {
              "@type": "ListItem",
              "position": {{i|length}},
              "item": {
                "@id": "{{options.url}}{{item.guid}}/",
                "name": "{{item.name}}"
              }
            },
          {% elif folder %}
            {
              "@type": "ListItem",
              "position": {{i|length}},
              "item": {
                "@id": "{{options.url}}{{item.guid}}/",
                "name": "{{item.name}}"
              }
            }
            {% if folder.guid != item.guid %},{% endif %}
          {% endif %}
          
        {% endfor %}
        {% if i.append('1') %}{% endif %}
        {% if post or page %}
          {% if not post %} {% set post = page %} {% endif %}
          {
            "@type": "ListItem",
            "position": {{i|length}},
            "item": {
              "@id": "{{options.url}}{{post.guid}}.html",
              "name": "{{post.title}}"
            }
          }
        {% endif %}
      ]
    }
  </script>
{% endif %}

