Babel==2.3.4
BeautifulSoup==3.2.1
Flask==0.10.1
Flask-Babel==0.11.0
Flask-WTF==0.12
itsdangerous==0.24
Jinja2==2.8
MarkupSafe==0.23
MySQL-python==1.2.5
Pillow==3.2.0
pkg-resources==0.0.0
python-magic==0.4.11
python-resize-image==1.1.10
pytz==2016.4
requests==2.10.0
Unidecode==0.4.19
Werkzeug==0.11.10
WTForms==2.1
