{% extends "themes/Nyx/_base.html" %}

{% block content %}
    {% if folder.id != 1 %}
        {% if not index %}
            <h1>{{folder.name}}</h1>
            <p>{{folder.content}}</p>
        {% else %}
            <article class="post">
                <h1>{{folder.name}}</h1>
                {{index.content|safe}}
            </article>
        {% endif %}
    {% endif %}
    {% if articles.items %}
        {% if index %}
            <h2>Last posts</h2>
        {% endif %}
    {% endif %}
    {% for item in articles.items %}
        <div class="row">
            {% if item.image.id %}
                <div class="large-4 columns">
                    <a title="{{item.title}}" href="/{{item.guid}}.html"><img  class="thumbnail" src="{{item.image.urlify('thumbnail-lg')}}" alt="{{item.title}}" /></a>
                </div>
                <div class="large-8 columns">
            {% else %}
                <div class="large-12 columns">
            {% endif %}
                <h3><a href="/{{item.guid}}.html" rel="bookmark">{{item.title}}</a></h3>
                <p>
                    <small class="grey">
                        <span><i class="fa fa-user"></i> By <a href="">{{item.user.nicename}}</a> &nbsp;&nbsp;</span>
                        <span><i class="fa fa-clock-o"></i> <time class="timeago" datetime="{{item.created.isoformat()}}">{{item.created.isoformat()}}</time> &nbsp;&nbsp;</span>
                        <span><i class="fa fa-comments"></i> {{item.comment_count}} comment &nbsp;&nbsp;</span>
                        <span><i class="fa fa-folder-open-o"></i> <a href="/{{item.folder.guid}}/">/{{item.folder.guid}}</a></ppan>
                    </small>
                </p>
                <p>
                    {{item.excerpt}}...
                </p>
                <a class="small button float-right" title="{{item.title}}" href="/{{item.guid}}.html">Read more</a>
            </div>
        </div>
        <hr />
    {% endfor %}
    {{articles.links}}
{% endblock %}

{% block sidebar %}
    {% if pages|length > 1 %}
        <h3>{{folder.name}}</h3>
        <ul class="menu vertical">
            {% for page in pages %}
                {% if page.slug != 'index' %}
                    <li><a href="/{{page.guid}}.html">{{page.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>

        <br /><br />
    {% endif %}
{% endblock %}



{% block scripts %}
    {{ super() }}
    <script src="/public/js/prism.js"></script>
{% endblock %}