{% extends "themes/Nyx/_base.html" %}
{% block microdata %}
    <script type='application/ld+json'>
        {
            "@context":"http://schema.org",
            "@type":"WebSite",
            "url":"{{options.url}}",
            "name":"{{options.name}}",
            "potentialAction":{
                "@type":"SearchAction",
                "target":"{{options.url}}/?s={search_term_string}",
                "query-input":"required name=search_term_string"
            },
            "headline": "{{options.slogan}}",
            "author":  { 
                "@type" : "Organization",
                "name" : "{{options.name}}",
                "logo" : "{{options.logo}}",
                "url" : "{{options.url}}",
                "sameAs" : [
                    "{{options.facebook}}",
                    "{{options.twitter}}"
                ]
            }
        }
    </script>
{% endblock %}
{% block featured %}
    {% set posts = get_posts() %}
    <div class="orbit" role="region" data-auto-play="false" aria-label="Featured" data-orbit data-options="animInFromLeft:fade-in; animInFromRight:fade-in; animOutToLeft:fade-out; animOutToRight:fade-out;">
      <div class="orbit-container">
        <span class="orbit-previous"><span class="show-for-sr">Previous Slide</span>&#9664;&#xFE0E;</span>
        <span class="orbit-next"><span class="show-for-sr">Next Slide</span>&#9654;&#xFE0E;</span>
        {% set i = 0 %}
        {% for post in posts %}
            {% if post.image.id %}
                <div class="orbit-slide{% if i == 0 %} is-active{% endif %}">
                    <div class="featured">
                        <a href="{{post.guid}}.html" title="{{post.title}}">
                            <img  class="orbit-image" src="{{post.image.urlify('featured')}}" alt="{{post.title}}" /> 
                            <h2>{{post.title}}</h2>
                        </a>
                    </div>
                </div>
                {% set i = i +1 %}
            {% endif %}
        {% endfor %}
      </div>
    </div>
{% endblock %}
{% block content %}
    {% if index %}
        <article class="post">
            {{index.content|safe}}
        </article>
    {% endif %}
{% endblock %}

