{% extends "themes/Nyx/_base.html" %}

{% block microdata %}
    {{ super() }}
    <script type='application/ld+json'>
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "mainEntity": {
                "@context": "http://schema.org",
                "@type": "Article",
                "mainEntityOfPage":{
                    "@type":"WebPage",
                    "@id":"{{request.url}}"
                },
                "headline": "{{this.get_excerpt(100)}}",
                {% if this.image_id != 0 %}
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{options.url}}{{this.image.urlify('thumbnail-lg')}}",
                        "height": "270",
                        "width": "175"                            
                    },
                }
                {% else %}
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{options.url}}public/images/empty.png",
                        "height": "270",
                        "width": "175"                            
                    },
                {% endif %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{options.name}}"
                    {% if options.logo %}
                    ,"logo": {
                      "@type": "ImageObject",
                      "url": "{{options.url}}{{options.logo[1:]}}"
                    }
                    {% endif %}
                },
                "datePublished": "{{this.created.isoformat()}}",
                "dateModified": "{{this.modified.isoformat()}}",
                "author": {
                    "@type": "Person",
                    "name": "{{this.user.nicename}}"
                },
                "description": "{{this.excerpt}}"
            }   
        }
    </script>
{% endblock %}

{% block featured %}
    {% if this.image_id != 0 %}
        <div class="featured">
            <img  class="orbit-image" src="{{this.image.urlify('featured')}}" alt="{{this.title}}" /> 
            <h1>{{this.title}}</h1>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if this.image_id == 0 %}
        <h1>{{this.title}}</h1>
    {% endif %}
    <article class="post">
        {{this.content|safe}}
    </article>
{% endblock %}

{% block sidebar %}
    <div class="row widget">
        <h3>{{this.folder.name}}</h3>
        <p><small>{{this.folder.content|safe}}</small></p>
        <ul class="menu vertical">
            <li><a href="/{{this.folder.guid}}/">{{this.folder.name}}</a></li>
            {% for p in pages %}
                {% if p.slug != 'index' %}
                    <li {% if this.id == p.id %}class="active"{% endif %}><a href="/{{p.guid}}.html">{{p.title}}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
    </div>

    <br /><br />
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/public/js/prism.js"></script>
{% endblock %}

