{% extends "themes/Nyx/_base.html" %}
{% block microdata %}
    <script type='application/ld+json'>

    </script>
{% endblock %}
{% block featured %}
    {% if post.image_id != 0 %}
        <div class="featured">
            <img  class="orbit-image" src="{{post.image.urlify('featured')}}" alt="{{post.title}}" /> 
            <h1>{{post.title}} <small><time class="timeago" datetime="{{post.created.isoformat()}}">{{post.created.isoformat()}}</time></small></h1>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if post.image_id == 0 %}
        <h1>{{post.title}} <small><time class="timeago" datetime="{{post.created.isoformat()}}">{{post.created.isoformat()}}</time></small></h1>
    {% endif %}
    <article class="post">
        {{post.content|safe}}
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/public/js/prism.js"></script>
{% endblock %}