{% extends "themes/Nyx/_base.html" %}

{% block microdata %}
    {{ super() }}
    <script type='application/ld+json'>
        {
            "@context": "http://schema.org",
            "@type": "WebPage",
            "mainEntity": {
                "@context": "http://schema.org",
                "@type": "NewsArticle",
                "mainEntityOfPage":{
                    "@type":"WebPage",
                    "@id":"{{request.url}}"
                },
                "headline": "{{this.get_excerpt(100)}}",
                {% if this.image_id != 0 %}
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{options.url}}{{this.image.urlify('thumbnail-lg')}}",
                        "height": "270",
                        "width": "175"                            
                    },
                }
                {% else %}
                    "image": {
                        "@type": "ImageObject",
                        "url": "{{options.url}}public/images/empty.png",
                        "height": "270",
                        "width": "175"                            
                    },
                {% endif %}
                "publisher": {
                    "@type": "Organization",
                    "name": "{{options.name}}"
                    {% if options.logo %}
                    ,"logo": {
                      "@type": "ImageObject",
                      "url": "{{options.url}}{{options.logo[1:]}}"
                    }
                    {% endif %}
                },
                "datePublished": "{{this.created.isoformat()}}",
                "dateModified": "{{this.modified.isoformat()}}",
                "author": {
                    "@type": "Person",
                    "name": "{{this.user.nicename}}"
                },
                "description": "{{this.excerpt}}"
            }   
        }
    </script>
{% endblock %}

{% block featured %}
    {% if this.image_id != 0 %}
        <div class="featured show-for-medium">
            <img  class="orbit-image" src="{{this.image.urlify('featured')}}" alt="{{this.title}}" /> 
            <h1>{{this.title}} <small><time class="timeago" datetime="{{this.created.isoformat()}}">{{this.created.isoformat()}}</time></small></h1>
        </div>
        <div class="hide-for-medium featured-small">
            <h1>{{this.title}} <small><time class="timeago" datetime="{{this.created.isoformat()}}">{{this.created.isoformat()}}</time></small></h1>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
    {% if this.image_id == 0 %}
        <h1>{{this.title}} <small><time class="timeago" datetime="{{this.created.isoformat()}}">{{this.created.isoformat()}}</time></small></h1>
    {% endif %}
    <article class="post">
        {{this.content|safe}}
    </article>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="/public/js/prism.js"></script>
{% endblock %}