<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="FyPress - {{title}}">
    <meta name="author" content="FyPress">
    <title>{{options.name}} - {{title}}</title>
    <link href="/static/admin/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/admin/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet">
    <link href="/static/admin/dist/css/sb-admin-2.css" rel="stylesheet">
    <link href="/static/admin/style.css" rel="stylesheet">
    <link href="/static/admin/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% from 'macros/form.html' import render_form %}
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-default">
                    <div class="panel-logo"><img src="/static/images/fypress_50.png" alt="{{options.name}}"  /></div>
                    <div class="panel-body">
                        {{render_form(form, action_url='', btn_class="btn btn-lg btn-success btn-block")}}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="/static/admin/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/static/admin/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</body>
</html>
