{% extends "admin/_base.html" %}
{% block css %}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.css" rel="stylesheet">
    {{ super() }}
{% endblock %}
{% block js %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/4.3.0/min/dropzone.min.js"></script>
    <script>
        Dropzone.autoDiscover = false;
        $(document).ready(function() {
            $("div#fy-dropzone").dropzone({ 
                url: "{{url_for('admin.post_media')}}",
                paramName: "file",
                uploadMultiple: false,
                headers: 'Content-Type: multipart/form-data;',
                acceptedFiles: "image/png, image/jpeg, image/gif",
                dictDefaultMessage: '<h2>{{_("Drop files to upload")}}</h2> or <br /> <br /><div class="text-center" style="margin-bottom:-5px"><a href="javascript:void(0);" class="btn btn-default   "><i class="fa fa-hdd-o" aria-hidden="true"></i> {{ _("Select Files") }}</a></div>' 
            });
        });
    </script>
{% endblock %}
{% block content %}
    {% from 'macros/form.html' import render_form %}
    <div class="col-lg-12">
        <h1 class="page-header"><i class="fa fa fa-picture-o fa-fw"></i> {{ _('Medias') }}</h1>

        <ul class="nav nav-tabs">
          <li role="presentation" class="active"><a href="{{url_for('admin.medias_upload')}}">{{ _('Add New (Upload)') }}</a></li>
          <li role="presentation"><a href="{{url_for('admin.medias_web')}}">{{ _('Add New (Web)') }}</a></li>
          <li role="presentation"><a href="{{url_for('admin.medias')}}">{{ _('Library') }}</a></li>
        </ul>

        <div class="medias-box">
            <div id="fy-dropzone" class="dropzone" ></div>
        </div>   
    </div>

{% endblock %}