{% extends "admin/_base.html" %}
{% block css %}
    {{ super() }}
    <!--<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.css" rel="stylesheet">-->
{% endblock %}
{% block js %}
    {{ super() }}
    <!--
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.1/summernote.js"></script>
    -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.12/jquery.tinymce.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/4.3.12/tinymce.min.js"></script>
    <script src="/static/admin/tinymce.js"></script>

{% endblock %}

{% block content %}
    {% from 'macros/form.html' import render_form %}
    <form method="POST" action="" role="form">
        <div class="col-lg-9">
            <h1 class="page-header"><i class="fa fa-file-text-o fa-fw"></i>{% if post.id %}{{ _('Edit post') }}{% else %}{{ _('Add new post') }}{% endif %}</h1>
                <div class="form-group">
                    <label for="exampleInputEmail1">{{ _('Title') }}</label>
                    <input type="text" class="form-control" name="title" id="fy_title" value="{{post.title}}" placeholder="{{_('Title')}}">
                    <p class="help-block">
                        <strong>{{_('Permalink')}}:</strong> 
                        <a href="">http://127.0.0.1:5000/{{post.guid}}.html</a> 
                        <a title="{{_('Edit')}}"  class="btn btn-info btn-xs  "><i class="fa fa-pencil" aria-hidden="true"></i> {{_('Edit')}}</a>
                    </p>
                </div>
              <div class="form-group">
                <div class="fy_rte">
                    <a title="{{_('Add media')}}" id="fp_add_media"  data-toggle="modal" data-target="#fp_medias_modal" class="btn btn-default"><i class="fa fa-picture-o" aria-hidden="true"></i> {{_('Media Library')}}</a>
                    <a title="{{_('Add media')}}" id="fp_add_media"  class="btn btn-default"><i class="fa fa-picture-o" aria-hidden="true"></i> {{_('Add GIF')}}</a>
                </div>
                <textarea id="tinymce" name="content">{{post.content}}</textarea>
              </div>
        </div>
        <div class="col-lg-3">
            <div class="panel panel-default" style="margin-top: 75px;">
                <div class="panel-heading">
                   <strong>{{ _('Publication') }}</strong>
                </div>
                <div class="panel-body">
                    {% if post.id %}
                        <div><span class="text-muted">{{ _('Status') }}</span>: <b>{{post.txt_to_status[post.status]}}</b></div>
                        <div><span class="text-muted">{{ _('Published') }}</span>: <b>{{post.created}}</b></div>
                    {% endif %}
                    <br />
                    {% if not post.id %}
                        <button type="submit" formaction="?action=save" class="btn btn-default pull-left"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{ _('Save') }}</button> 
                        <button type="submit" formaction="?action=publish" class="btn btn-success  pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i> {{ _('Publish') }}</button>
                    {% elif post.status == 'publish' %}
                        <button type="submit" formaction="?action=draft&amp;edit={{post.id}}" class="btn btn-default pull-left"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{ _('Save as draft') }}</button> 

                        <button type="submit" formaction="?action=save&amp;edit={{post.id}}" class="btn btn-success pull-right"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{ _('Save and publish') }}</button> 
                    {% elif post.status == 'draft' or post.status == 'trash' %}
                        <button type="submit" formaction="?action=save&amp;edit={{post.id}}" class="btn btn-default pull-left"><i class="fa fa-hdd-o" aria-hidden="true"></i> {{ _('Save') }}</button> 
                        <button type="submit" formaction="?action=publish&amp;edit={{post.id}}" class="btn btn-success  pull-right"><i class="fa fa-check-circle" aria-hidden="true"></i> {{ _('Publish') }}</button>
                    {% endif %}
                </div>  
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                   <strong>{{ _('Category') }}</strong>
                </div>
                <div class="panel-body">
                        <select id="fp_folder" name="folder" class="form-control" autocomplete="off" >
                            {% for folder in folders %}
                                <option {% if post.folder_id == folder.id %}selected="selected"{% endif %} value="{{folder.id}}">{% for n in range(0,folder.depth) %}&nbsp;&nbsp;&nbsp;{% endfor %}{{folder.name}}</option>
                            {% endfor %}
                        </select>
                </div>  
            </div>

            <div class="panel panel-default">
                <div class="panel-heading">
                   <strong>{{ _('Featured image') }}</strong>
                </div>
                <div class="panel-body">

                </div>  
            </div>
        </div>
    </form>
    
{% endblock %}

{% block footer %}
    <div class="modal fade" id="fp_medias_modal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-10">
                            <div id="fp_media_loader"></div>
                            <iframe id="fp_media_frame" src="" style="width: 100%; height: 0;"  width="100%" height="0" frameborder="0" ></iframe>
                        </div>
                        <div class="col-lg-2">
                            <div id="fp_media_selected" class="pull-left alert alert-success" style="margin: 0; width: 100%;">{{_('No media selected')}}</div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <div id="fp_insert_btn"><button type="button" class="btn btn-default" data-dismiss="modal">Close</button> </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        /*
        $(document).ready(function() {
          $('#fpcontent').summernote({
            minHeight: 500,
            focus: true, 
            toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link']],
                    ['view', ['fullscreen', 'codeview']]
              ],
          });
        });
        */
        
        $(document).on('focusin', function(e) {
          if ($(e.target).closest(".mce-window").length) {
            e.stopImmediatePropagation();
          }
        });
        $(document).ready(function() {
            $('#fp_media_frame').height( $(window).height() - 170 );
            $('#fp_media_frame').css('display', 'none')
        });

        var selected = null;

        $('#fp_media_frame').on('load', function(){
            $('#fp_media_frame').css('display', 'block')
            $('#fp_insert_btn').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>');
            $('#fp_media_selected').html('{{_('No media selected')}}');
            $('#fp_media_loader').empty();


            var $iframe = $(this).contents()
            
            $iframe.find('.nav a').click(function() {
                $iframe.find('.medias-box').html('<div style="text-align: center"><i class="fa fa-spinner spin-it fat-icon"></i></div>');

            });

            $iframe.find('.fp_media').click(function() {
                $('#fp_media_selected').empty();
                selected = null;
                $iframe.find('.fp_media').removeClass('media-selected');
                $( this ).addClass('media-selected');
                var c_media = $(this).clone()
                $.get( '{{url_for('admin.ajax_get_media')}}?id='+$(this).attr('id'), function(data) {
                    var html = ''
                    if (data.data.var) {
                        html = '<br /><select class="form-control" id="fp_media_format">'
                        html += '<option value="'+data.data.guid+'">Original file</option>'

                        Object.keys(data.data.var).forEach(function(key) {
                            html += '<option value="'+data.data.var[key].guid+'">'+data.data.var[key].name+'</option>'
                        });
                        html += '</select>'

                        selected = '<img class="img-thumbnail" src="{{flask_config['UPLOAD_DIRECTORY_URL']}}'+data.data.guid+'" alt="'+data.data.name+'" />'
                    } else {
                        selected = '<div class="media">'+data.data.html+'</div><p></p>'
                    }
                    $('#fp_media_selected').append(c_media)
                    $('#fp_media_selected').append(html)

                    $('#fp_media_format').change(function() {
                        selected = '<img class="img-thumbnail" src="{{flask_config['UPLOAD_DIRECTORY_URL']}}'+$('#fp_media_format').val()+'" alt="'+data.data.name+'" />'
                    });
                });
                $('#fp_insert_btn').html('<button type="button" class="btn btn-default" data-dismiss="modal">Close</button> <a  href="javascript:insert_content()" class="btn btn-primary">Insert</a>');
            });
        });

        var insert_content = function() {
            tinymce.get('tinymce').insertContent(selected);
            //document.execCommand('insertHtml', null, selected);
            $('#fp_medias_modal').modal('hide')
        };
        $('#fp_medias_modal').on('shown.bs.modal', function (e) {
            
            if ($('#fp_media_frame').attr('src') == '') {
                $('#fp_media_loader').append('<i class="fa fa-spinner spin-it "></i>')
                $('#fp_media_frame').attr('src', '{{ url_for('admin.medias', parent=1)}}');    
            }
        });
        
    </script>
{% endblock %}