{% extends "admin/_base_empty.html" %}
{% block content %}
    <div class="col-md-4 col-md-offset-4">
        <div class="login-panel panel panel-default">
            <div class="panel-body" style="text-align: center;">
                <h1>{{ _('DEAD LINK - YOU JUST GOT 404\'D') }}</h1><br />
                <img src="/static/images/404.png" alt="404" />
                <br /><br />
                <a href="{{url_for('admin.back') }}" class="btn btn-lg btn-success btn-block">{{ _('Please GTFO ❤‿❤') }}</a>
            </div>
        </div>
    </div>
{% endblock %}