.user-avatar {
    float: left;
    margin-right: 5px;
}
.ldanger {
    color: darkred;
}
.ldanger:hover {
    color: red;
    text-decoration: none;
}
.lok {
    color: darkgreen;

}
.lok:hover {
    color: green;
    text-decoration: none;
}

.panel-logo {
    margin-top: 20px;
    text-align:center;
}

/*
    Titles
*/
h1 { font-size: 24px; }
h2 { font-size: 20px; }
h3 { font-size: 16px; font-weight: bold; }
h4 { font-size: 13px; font-weight: bold }

/*
    SEO Preview
*/
.seo-preview {
    border: 1px solid #aaa;
    background: #fff;
    padding: 10px;
}
    .seo-preview span {
        display: block;
    }
    .seo-preview-title {
        color: #1E0FBE;
        font-family: Arial;
        font-size: 18px;
    }
    .seo-preview-url {
        font-family: Arial;
        font-size: 16px;
        color:  #006621;
    }
    .seo-preview-desc {
        font-family: Arial;
        font-size: 13px;
        color: #777777;
    }

/* Sortable */
.sortable {
    margin: 0;
    padding: 0;
}
.sortable li {
    list-style-type: none;
    margin: 0;
    padding: 0;
     margin-top: 5px;
}
.nav-drag {
    cursor: move;
    margin: 0;
}
.sortable .panel-body {
    padding: 0;
}
.sortable .table {
    border: 0;
    margin: 0;
}
.mjs-nestedSortable-error {
    background: #fbe3e4;
    border-color: transparent;
}
li.mjs-nestedSortable-collapsed.mjs-nestedSortable-hovering div {
    border-color: #999;
}

.disclose, .expandEditor {
    cursor: pointer;
    width: 20px;
    display: none;
}

.sortable li.mjs-nestedSortable-collapsed > ol {
    display: none;
}

.sortable li.mjs-nestedSortable-branch > div > .disclose {
    display: inline-block;
}

.sortable span.ui-icon {
    display: inline-block;
    margin: 0;
    padding: 0;
}
.placeholder {
    outline: 1px dashed #4183C4;
}
.deleteMenu, .editMenu {
    float: right;
    cursor: pointer;
    margin-left: 10px;
}
.root span {
    display: none;
}