<h3>Follow {{options.name}}</h3>
{% if options.facebook %}
    <div class="large-3 columns fat float-left">
        <a  href="{{options.facebook}}"><i class="fa fa-facebook-square" ></i></a>
    </div>
{% endif %}
{% if options.twitter %}
    <div class="large-3 columns fat float-left">
        <a  href="{{options.twitter}}"><i class="fa fa-twitter-square" ></i></a>
    </div>
{% endif %}
{% if options.github %}
    <div class="large-3 columns fat float-left">
        <a  href="{{options.github}}"><i class="fa fa-github-square" ></i></a>
    </div>
{% endif %}
<div class="large-3 columns fat float-left">
    <a  href="/feed/"><i class="fa fa-rss-square" ></i></a>
</div>