{% macro render_field(field, label_visible=true) -%}
    <fieldset class="form-group {% if field.errors %}has-danger{% endif %} {{ kwargs.pop('class_', '') }}">
        {% if label_visible %}
            <label for="fp_{{ field.id }}">{{ field.label }}</label>
        {% endif %}
        {{ field(class_='form-control', id='fp_'~field.id, **kwargs) }}
        {% if field.description and not field.errors %}
            <small class="text-muted">{{ field.description|safe }}</small>
        {% endif %}
        {% if field.errors %}
            {% for e in field.errors %}
                <small class="text-danger">{{ e }}  {% if field.description %}<small>({{ field.description|safe }})</small>{% endif %}</small>
            {% endfor %}
        {% endif %}
    </fieldset>
{%- endmacro %}

{% macro render_checkbox_field(field) -%}
    <div class="checkbox">
        <label>
            {{ field(type='checkbox', **kwargs) }} {{ field.label }}
        </label>
    </div>
{%- endmacro %}

{% macro render_radio_field(field) -%}
    {% for value, label, _ in field.iter_choices() %}
        <div class="radio">
            <label>
                <input type="radio" name="{{ field.id }}" id="fp_{{ field.id }}" value="{{ value }}">{{ label }}
            </label>
        </div>
    {% endfor %}
{%- endmacro %}

{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-success') -%}

    <form method="POST" action="{{ action_url }}#the_form" id="the_form" role="form" class="{{ class_ }}">
        {{ form.hidden_tag() if form.hidden_tag }}
        {% if caller %}
            {{ caller() }}
        {% else %}
            {% for f in form %}
                {% if f.type == 'BooleanField' %}
                    {{ render_checkbox_field(f) }}
                {% elif f.type == 'RadioField' %}
                    {{ render_radio_field(f) }}
                {% elif f.type != 'HiddenField' and f.type != 'CSRFTokenField' %}
                    {{ render_field(f) }}
                {% endif %}
            {% endfor %}
        {% endif %}
        <button type="submit" class="{{ btn_class }}">{{ action_text }} </button>
    </form>
{%- endmacro %}